<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{user}}<br>
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">logout</a>
{% else %}
    <a href="{% url 'login' %}">login</a>
{% endif %}<br>
<a href="{% url 'my-account' %}">my Account</a><br>
{% for book in books %}
    {{ book.title }}<br>
        <form action="{% url 'delete-book' book_id=book.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="delete">
        </form>
        <form action="{% url 'update-book' book_id=book.id %}" method="get">
                {% csrf_token %}
                <input type="submit" value="update">
        </form>
    <h3>Author:</h3>
    {% for author in book.authors.all %}
        {{ author.username }}
    {% endfor %}
    <h3>Country is {{ book.country }}</h3>
    <br><br>
    {{ book.publish_date }}<br>
    <h4>{{ book.text }}</h4>
    <h3>Price is {{book.price}}</h3>
    <h3>Rate</h3>
    {{ book.avg_rate }}
    {% for i in '12345' %}
        <a href="{% url 'add-rate' rate=i book_id=book.id %}">rate {{i}}</a>
    {% endfor %}
    <h3>Total order is {{ book.total_order }}</h3>
    <form action="{% url 'order-book' book_id=book.id %}" method="post">
        {% csrf_token %}
        <label for="count">Count</label>
        <input type="number" name="count" id="count">
        <input type="submit" value="OK">
    </form>
    <h3>Comments</h3>
    {% for comment in book.comments.all %}
        {{ comment.date }}
        {{ comment.user }}
        {{ comment.text }}
        {{ comment.likes }}
        {% if comment.user == user %}
            <form action="{% url 'delete-comment' comment_id=comment.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="delete">
            </form>
            <form action="{% url 'update-comment' comment_id=comment.id %}" method="get">
                {% csrf_token %}
                <input type="submit" value="update">
            </form>
        {% endif %}
        <br>
    {% endfor %}
    <form action="{% url 'add-comment' book_id=book.id %}" method="post">
        {% csrf_token %}
        <label for="comment">Comment</label>
        <textarea type="text" name="comment" id="comment" rows="5" cols="15"></textarea>
        <input type="submit" value="OK">
    </form>
    <hr>
{% endfor %}
</body>
</html>