<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for book in books %}
    {{ book.title }}<br>
    <h3>Author:</h3>
    {% for author in book.authors.all %}
        {{ author.username }}
    {% endfor %}
    <br><br>
    {{ book.publish_date }}<br>
    <h4>{{ book.text }}</h4>
    <h3>Price is {{book.price}}</h3>
    <h3>Rate</h3>
    {{ book.get_rate }}
    {% for i in '12345' %}
        <a href="{% url 'add-rate' rate=i book_id=book.id %}">rate {{i}}</a>
    {% endfor %}
    <hr>
{% endfor %}
</body>
</html>